# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/

# Optional: local-only data copies
# MedicalClaimsSynthetic1M.csv
